*{
    margin: 0;
}
.wrapper{
    width: 200px;
    height: 300px;
    background-color: rgb(19, 25, 66);
    padding: 5px;
}
#light{
    padding-top: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top:9px
}

.light-three{
    background-color: rgb(241, 239, 121);
}
.light-two{
    background-color: rgba(241, 239, 121, 0.596);
}
.light-one{
    background-color: rgba(241, 239, 121, 0.285);
}
#light-switch{
    width: 150px;
    height: 50px;
    margin-left: 20px;
}
